/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2016, 12:03:55 PM
    Author     : nsg
*/

.btm{
    margin-top: 25px;
   
}
.log{
    width:120%
}
.m{
    margin-left:-30em;
}